<div class="container">
    <footer class="footer">
    <small>
    Copyright &copy; <a href="https://github.com/RoigRosa201?tab=repositories">All of Roigs projects</a>
    by <a href="@Roigrosa88@gmail.com">Roig Rosa</a>
    </small>
        <nav>
            <ul>
                <li><%= link_to "About", about_path %></li>
           </ul>
        </nav>
    </footer>
    </div>
